<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DarkGrayBackground.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>GrayWave1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{960,427}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,427}}</string>
                <key>sourceSize</key>
                <string>{960,427}</string>
            </dict>
            <key>Graywave2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{960,427}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,427}}</string>
                <key>sourceSize</key>
                <string>{960,427}</string>
            </dict>
            <key>Graywave3.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,644},{960,427}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,427}}</string>
                <key>sourceSize</key>
                <string>{960,427}</string>
            </dict>
            <key>Graywave4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1073},{960,427}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,427}}</string>
                <key>sourceSize</key>
                <string>{960,427}</string>
            </dict>
            <key>Graywave6.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1073},{960,427}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,427}}</string>
                <key>sourceSize</key>
                <string>{960,427}</string>
            </dict>
            <key>graywave5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1502},{960,427}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,427}}</string>
                <key>sourceSize</key>
                <string>{960,427}</string>
            </dict>
            <key>lightGrayBackground.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{964,1502},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>menu_corner.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2144},{720,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,720}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>sliderBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2144},{233,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,17}}</string>
                <key>sourceSize</key>
                <string>{233,17}</string>
            </dict>
            <key>sliderThumb.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,2144},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>tileblack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2144},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>tilewhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,2144},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>verbosityTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2866},{960,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,480}}</string>
                <key>sourceSize</key>
                <string>{960,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>textures-hd.png</string>
            <key>size</key>
            <string>{1926,3348}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6b44804893f5303bd57a300c8c39c25$</string>
            <key>textureFileName</key>
            <string>textures-hd.png</string>
        </dict>
    </dict>
</plist>
