<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DarkGrayBackground.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>GrayWave1.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{480,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,213}}</string>
                <key>sourceSize</key>
                <string>{480,213}</string>
            </dict>
            <key>Graywave2.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{480,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,213}}</string>
                <key>sourceSize</key>
                <string>{480,213}</string>
            </dict>
            <key>Graywave3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,2},{480,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,213}}</string>
                <key>sourceSize</key>
                <string>{480,213}</string>
            </dict>
            <key>Graywave4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{480,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,213}}</string>
                <key>sourceSize</key>
                <string>{480,213}</string>
            </dict>
            <key>Graywave6.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,324},{480,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,213}}</string>
                <key>sourceSize</key>
                <string>{480,213}</string>
            </dict>
            <key>graywave5.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,324},{480,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,213}}</string>
                <key>sourceSize</key>
                <string>{480,213}</string>
            </dict>
            <key>lightGrayBackground.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1448,324},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>menu_corner.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>sliderBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,646},{116,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,8}}</string>
                <key>sourceSize</key>
                <string>{116,8}</string>
            </dict>
            <key>sliderThumb.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,646},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>tileblack.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,646},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>tilewhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,646},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>verbosityTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,646},{480,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,240}}</string>
                <key>sourceSize</key>
                <string>{480,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>textures.png</string>
            <key>size</key>
            <string>{1930,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0cf3dd56f4fe13dd645d2fd63708660$</string>
            <key>textureFileName</key>
            <string>textures.png</string>
        </dict>
    </dict>
</plist>
